@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&family=Ubuntu:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

/* HEADER START */

header{
    height: 90vh;
    position: relative;
    border-bottom-left-radius: 100px;
    background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.header-content{
    width: 90%;
    margin: auto;
    padding-top: 25%;
    text-align: center;
    clear: both;
}
.header-content h1{
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3em;
    font-weight: 500;
    color: white;
}

.header-content p{
    font-family: 'Overpass', sans-serif;
    color: white;
}

.header-btn{
    display: inline-block;
    margin: 50px 10px;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 30px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.header-btn:hover{
    color: hsl(353, 100%, 62%);
    background-color: white;
}

.header-btn:first-of-type{
    color: hsl(353, 100%, 62%);
    background-color: white;
}

.header-btn:first-of-type:hover{
    color: white;
    background-color: transparent;
}

/* HEADER END */

/* MENU START */

.menu{
    display: none;
    width: 90%;
    margin: 4em 5%;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 1.7em;

}

.menu ul li{
    padding: 1em;
    list-style: none;
}

.menu ul li ul{
    display: none;
    border-radius: 10px;
    background-color: rgb(231, 230, 230);
}

.menu ul li ul li a{
    font-size: .8em;
    color: rgb(106, 105, 131);
    text-decoration: none;
}

.arrow{
    width: 15px;
    margin: 0 7px;
}

.login{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    padding: .7em 1.4em;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.sign{
    color: white;
    background: linear-gradient(to right,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.menu-logo{
    margin: 3em 1em;
    float: left;
}

.menu-hamburguer{
    width: 40px;
    margin: 3.5em 1em;
    float: right;
}

.menu-hamburguer-icon{
    width: 100%;
}

.menu-hamburguer-close{
    display: none;
    width: 30px;
}

hr{
    width: 80%;
    margin: 0 auto;
}



/* MENU END */

/* MAIN */

.main-container{
    width: 100%;
    margin: 1em 0;
    display: grid;
    gap: 3em;
    grid-template-columns: 100%;
    text-align: center;
}

.main-container h2, h3{
    margin: 1em 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    color: hsl(208, 49%, 24%);
}

.main-container p{
    font-family: 'Overpass', sans-serif;
    color: hsl(207, 13%, 34%);
}

article{
    width: 1fr;
    display: grid;
    padding: 20% 0;
    justify-items: center;
}

.illustration-mobile{
    width: 300px;
}

.illustration-desktop{
    display: none;
}

.section-texts{
    width: 60%;
    min-width: 300px;
}

.phones{
    height: 300px;
    width: 400px;
    margin-top: -200px;
}

.phone{
    width: 300px;
}

.article-middle{
    padding: 30% 0;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

.article-middle h2{
    font-size: 2.3em;
    color: white;
}

.article-middle p{
    color: white;
}

.img{
    width: 300px;
}

.illustration-laptop-mobile{
    width: 300px;
}

.illustration-laptop-desktop{
    display: none;
}

/* MAIN END */

/* FOOTER START */

footer{
    margin-top: 2em;
    padding: 10% 0;
    border-top-right-radius: 100px;
    background-color: hsl(240, 10%, 16%);
    text-align: center;
    font-family: 'Overpass';
    color: white;
}

footer img{
    margin: 1em 0;
}

.menu-footer ul{
    margin: 1em;
    list-style: none;
    
}

.menu-footer ul li{
    line-height: 1.6em;
}
.menu-footer ul li a{
    text-decoration: none;
    color: white;
}

/* RESPONSIVE DESKTOP */

@media screen and (min-width: 885px){
    
    /* MENU AND HEADER */

    hr{
        display: none;
    }
    


    .menu-hamburguer{
        display: none;
    }


    header > nav{
        width: 100%;
        padding: 3em 5em;
        position: absolute;
    } 
    
    .menu{
        display: inline-block;
        width: calc(100% - 101px - 10em);
        margin-top: 2em;
        font-size: 1.2em;
        text-align: left;
        color: white;
        background: none;
    }


    .menu ul{
        display: block;
    }

    .menu ul li{
        display: inline-block;
    }
    .menu ul li a{
        display: inline-block;
    }

    .menu ul li ul{
        display: block;
        width: 150px;
        position: absolute;
        box-sizing: border-box;
        background-color: white;
    }

    .menu ul li ul li{
       display: flex;
       padding: .5em;
       flex-wrap: wrap;
    }
    .menu ul li ul li a:hover{
        font-weight: 800;
    }

    hr + ul{
        display: block;
        margin-right: 3em;
        position: absolute;
        right: 0;
        top: 0;
    }

    .login{
        color: white;
    }

    .sign{
        color: hsl(353, 100%, 62%);
        background: white;
    }

    /* END MENU AND HEADER */
    
    /* START MAIN AND ARTICLES */


    main{
        gap:1em;
    }
    article{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    article:nth-of-type(1){
        overflow: hidden;
    }

    .tittle1{
        height: 0;
        grid-column: 1 / -1;
    }

    .section-texts{
        text-align: left;
        width: 70%;
    }

    article:first-child > section{
        grid-row: 2 / 3;
        margin: auto 0
    }

    .illustration-mobile{
        display: none;
    }

    .illustration-desktop{
        display: block;
        margin-right: -50%;
        grid-column: 2/-1;
    }

    .article-middle{
        padding: 7em 0;
    }
    
    .phone{
        width: auto;
    }


    .illustration-laptop-mobile{
        display: none;
    }

    .illustration-laptop-desktop{
        display: block;
        grid-column: 1 / 2;
        margin-left: -200%;
    }

    article:last-child > section{
        grid-column: 2 / 3;
        margin: auto 0
    }

    footer{
        padding:10em 15em;
    }

    footer img{
        margin-right: 7em;
        float: left;
    }

    footer nav{
        display: grid;
       grid-template-columns: repeat(4, 1fr);
    }
}
